body { 
    background-image:  url(6c13cbd7f8b660840ffa594b7d560937.jpg); /* Путь к фоновому рисунку */
    background-repeat: repeat; 
}
.content{
    background-color:rgba(0, 0, 0, 0.493);
    margin: 4%;
    border-radius: 30px;
    border-color:black;
    border-width: medium;
    border-style: solid;
    padding: 2%;
}
img{
    border-radius: 30px;
    border-color:black;
    border-width: medium;
    border-style: solid;
}
video{
    border-radius: 30px;
    border-color:black;
    border-width: medium;
    border-style: solid;
}
h2{
    color: rgb(255, 255, 255);
}
p {
    color: cornsilk;
    font-size:x-large;
}

input[type=email],input[type=text],input[type=number],input[type=submit] {
  background-color: transparent;
  border-style: inset;
  border-color: cornsilk;
  color: cornsilk;
}

input[type=submit]:hover{
  border-style: outset
}

input[type=submit]:active{
  border-style: inset
}