header {
    border-radius: 5px;
    border-style: outset;
	width:100%;
	float: left;
	text-align:center;
	background-color: #ffffff85;
    position: relative;
}

.logo
{
	width:30%;
	float:left;
}
.menu
{
	float:left;
	width:70%;
}
.menu ul
{
	  margin-right: 10%;
	  padding: 0;
	  float:right;
	  text-align: center;
}
.menu ul li
{
cursor:pointer;
list-style-type:none;
display:inline-block;
}
@media only screen and (max-width: 590px) {
	header
	{
		font-size:14px;
	}

	.logo
	{
		width:100%;
		float:left;
		text-align:center;
	}
	.menu
	{
		width:100%;
		margin: 0 auto;
	}
	.menu ul
	{
		float:none;
		margin-right:0px;
	}
}
@media only screen and (max-width: 320px) {
	header
	{
		font-size:12px;
	}

	.menu ul li
	{
		display:block;
	}
 }
