
body{
    background-color: #cccccc;
}
.content,img {
	margin: auto;
	max-width: 100%;
	border-radius: 5px;
}
.content {
    background-color: #ffffff85;
    padding: 15px;
	border-style: inset;
}
.img{
	float: left;
	border-width: 0px;
	width: 10px;
}
h2,h1 {
    white-space: nowrap;
    color: rgb(34, 34, 34);
}
p {
    color: #5c5c5c
}
code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #bebebe;
    padding: 2px;
    font-size: 105%;
    border-radius: 3px;
}
.button {
    background-color: transparent;
    color: #3cb45a;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    border: 2px outset #3cb45a;
    padding: 8px;
    margin: 6px;
	cursor:pointer;
}

.button:active {
    color: #ffffffb9;
    background-color: #45d368;
    text-shadow: none
}
.button:hover{
     border: 2px inset #3cb45a;
}
