body{
    background-color: #cccccc;
}
.content,img {
    border-style: inset;
    border-radius: 5px;
    border-width: 3px
}
header {
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: fixed;
    border-radius: 15px;
}

.content {
    background-color: #ffffff85;
    margin: 2%;
    padding: 5px 10px
}

h2,h1 {
    white-space: nowrap
}

p {
    color: #5c5c5c
}
code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #bebebe;
    padding: 2px;
    font-size: 105%;
    border-radius: 3px;
  }
.button {
    background-color: #ffffff00;
    color: #3cb45a;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    border: 2px outset #3cb45a;
    padding: 8px;
    margin: 6px;
}

.button:active {
    background-color: #45d368;
    color: #000;
    text-shadow: none
}
.button:hover{
     border: 2px inset #3cb45a;
}
input[type=email],input[type=text] {
    background-color: transparent;
    border-style: inset;
    border-color: #1d1d1d;
    color: #5c5c5c
}


input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 3px;
    background-clip: content-box;
    border: 2px solid #bbb;
    background-color: #e7e6e7;
    border-radius: 50%
}

input[type=radio]:checked {
    background-color: #424242
}

input:invalid {
    border: 1px solid rgb(165, 40, 40)
}
